.calculator {
  width: 25%;
  margin: 6% auto;
  padding: 10px;
  background-color: #C5C4C0;
  border: 3px solid #444444;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10px;

  .output {
    background-color: #727775;
    border: 6px solid #4F4D46;
    color: #0f0f0f;
    width: 400px;
    height: 150px;
    min-width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    padding: 15px 10px 5px 0;
    border-radius: 10px;

    .previous-operand {
      font-size: 1.5rem;
    }

    .current-operand {
      font-size: 2.5rem;
    }
  }

  .span-two {
    height: 80px;
    min-width: calc(50% - 20px);
    max-width: calc(50% - 20px);
  }

  button {
    height: 80px;
    min-width: calc(25% - 20px);
    max-width: calc(25% - 20px);
    cursor: pointer;
    border: 2px solid #4F4D46;
    border-radius: 10px;
    margin: 10px;
    font-size: 2rem;
    outline: none;
    background: linear-gradient(145deg, #fefefe, #d5d5d5);
    box-shadow: 4px 4px 8px #c9c9c9, -4px -4px 8px #ffffff;

    &:hover {
      background: #ededed;
      box-shadow: inset 4px 4px 8px #c9c9c9, inset -4px -4px 8px #ffffff;
    }

    &:focus {
      background: #ededed;
      box-shadow: inset 4px 4px 8px #c9c9c9, inset -4px -4px 8px #ffffff;
    }
  }
}

@media (max-width: 900px) {
  .calculator {
    width: 50%;
    margin: 3% auto;

    .output {
      width: 240px;
      padding: 15px 10px 5px 0;

      .previous-operand {
        font-size: 0.8rem;
      }

      .current-operand {
        font-size: 1.4rem;
      }
    }

    .span-two {
      width: 120px;
      height: 60px;
    }

    button {
      width: 60px;
      height: 60px;
      font-size: 1.4rem;
    }
  }
}

@media (max-width: 575px) {
  .calculator {
    width: 90%;
  }
}